# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
.ENV/

# Environment variable files
.env

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Databases
*.sqlite3
*.db

# Flask migrations (if using Flask-Migrate)
migrations/

__pycache__/
*.pyc